    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment_text}}</p><hr>
        <p>Commented by {{user.name}} on <span>{{format_date createdAt}}</span></p>
        {{!-- <p>{{user.id}}</p> --}}
      </div>
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div> --}}
    </div>
